<!DOCTYPE html>
<html lang="ru">
<head>
    {%  include 'Include/Head.html' %}
</head>
<header>
    {%  include 'Header.html' %}
</header>

<body class="text-center container">
    <h1 class="mt-5"> Упс, а сюда вам низя :)</h1>
    <p class="lead mt-5">
        Ошибка 403 говорит о том, что у вас нет прав для посещения данной страницы...
    </p>
    <a href="/"class="btn btn-outline-primary mt-5">Вернуться на главную страницу</a>
</body>

<footer> {%  include 'Include/Footer.html' %}  </footer>
</html>

