<!DOCTYPE html>
<html lang="ru">
<head>
    {%  include 'Include/Head.html' %}
</head>
<header>
    {%  include 'Header.html' %}
</header>

<body class="text-center container">
    <main role="main" class="container">
        <h1 class="mt-5">Профиль: <b>{{ session['userName'] }} / {{ session['userLogin'] }}</b> </h1>
        <p class="lead mt-5">Ваша последняя статистика по тесту 1: <b>{{ session['userNum'] }}  из 6 </b></p>
        <a class ="btn btn-outline-primary", href="{{url_for('Test_Cat')}}">Пройти тест</a>
  </main>
</body>

<footer> {%  include 'Include/Footer.html' %}  </footer>
</html>

