<!DOCTYPE html>
<html lang="ru">
<head>
    {%  include 'Include/Head.html' %}
</head>
<header>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
        <a href="/" class="my-0 mr-md-auto font-weight-normal navbar-brand">Сайтик Елизаветы Григорьевы</a>
        <nav class="my-2 my-md-0 mr-md-3">
        </nav>
        <a class="btn btn-outline-primary mr-2" href="Authorization">{{ B1}}</a>
        <a class="btn btn-outline-primary" href="Registration">{{ B2 }}</a>
    </div>
</header>

<body class="text-center container">
    <main role="main" class="container">
        <h1 class="mt-5">Профиль: <b>{{ session['userName'] }} / {{ session['userLogin'] }}</b> </h1>
        <p class="lead mt-5">Ваша последняя статистика по тесту 1: <b>{{ session['userNum'] }}  из 6 </b></p>
        <a class ="btn btn-outline-primary", href="{{url_for('Test_Cat')}}">Пройти тест</a>
  </main>
</body>

<footer> {%  include 'Include/Footer.html' %}  </footer>
</html>

